.report {
  .title {
    font-size: 24px;
    font-weight: 700;
    color: #6e6e6e;
  }

  .label {
    text-align: center;
    display: block;
    color: #555;
    font-style: italic;
    font-size: 14px;
  }

  .list-container {
    padding: 0 40px;
  }

  margin-bottom: 60px;
}
